[Desktop Entry]
Name=CandyCam
Exec=/home/vkchlt0138/Downloads/create-video-webcam/create-video-from-webcam.py
Terminal=true
Type=Application
Icon=/home/vkchlt0138/Downloads/create-video-webcam/download.jpeg
